body {
  background-color: orange;
  /* background-color: #333843; */
  /* background-color: #c1c5cf; */
}

.flex {
  display: flex;
}
aside {
  color: #c1c5cf;
  font-family: 'Share Tech', sans-serif;
  /* color: #263039; */
  z-index: 2;
  position: absolute;
}
.storyText {
  width: 14rem;
  left: 5%;
  margin: 2rem 0;
}
.aboutText {
  right: 5%;
  bottom: 2rem;
}
.storyText > h1 {
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

p {
  font-size: 1rem;
  margin: 0 0 1rem;
  /* color: whitesmoke; */
}

a {
  color: #0e66b3;
  text-decoration: none;
}

.notebookContainer {
  position: absolute;
  width: 45rem;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .notebookBg {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  height: 500rem;
  width: 500rem;
  right: -222.5rem;
  top: -225.5rem;
  background-image: radial-gradient(#333843 1%, #5c6478 5%, #c1c5cf 12%);
} */

.notebookBg {
  position: absolute;
  z-index: 1;
  width: 69%;
  height: 69%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* transform: translate(-14.25%, -50.25%); */
  border-radius: 50%;
  /* background-image: radial-gradient(circle, #263039 2%, rgba(193, 197, 207, 0.1) 42%, #c1c5cf 40%); */
  /* background-image: radial-gradient(circle, #333843 30%, rgba(193, 197, 207, 0.1) 70%, #c1c5cf); */
  background-image: radial-gradient(circle, #c1c5cfc8 1%,  #7a7d84c8 43%, #33384320 40%);
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

@media screen and (max-width: 1225px) {
  .notebookContainer {
    width: 40rem;
    margin: 4rem 0;
  }

  .notebookBg {
    height: 500rem;
    width: 500rem;
    right: -228.5rem;
    top: -225.5rem;
  }

  aside {
    color: red;
  }
}

@media screen and (max-width: 1130px) {
  .notebookContainer {
    width: 35rem;
    margin: 5rem 0;
  }

  .notebookBg {
    height: 500rem;
    width: 500rem;
    right: -228.5rem;
    top: -225.5rem;
  }

  aside {
    color: green;
  }
}

@media screen and (max-width: 1045px) {
  .notebookContainer {
    width: 35rem;
    margin: 5rem 0;
  }

  .notebookBg {
    height: 500rem;
    width: 500rem;
    right: -228.5rem;
    top: -225.5rem;
  }

  aside {
    color: orange;
    width: 18rem;
  }

  aside>h1 {
    font-size: 2rem;
    margin: 0 0 0.5rem 0;
  }

  aside>p {
    font-size: 0.8rem;
    margin: 0.5rem 0 0 0;
    /* color: whitesmoke; */
  }
}