body {
  background-color: #e1e5f5;
}
.flex {
  display: flex;
}

aside {
  width: 25%;
  position: relative;
  margin: 0 auto;
  color: #404E5C;
  font-family: 'Share Tech', sans-serif;
}
aside > h1 {
  font-size: 1.5rem;
}
aside > p {
  font-size: 0.8rem;
}
.notebookContainer {
  width: 50%;
  margin: 1rem auto;
}
